.fondo-degradado {
	background: #2193b0;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.panel-principal {
	margin-top: -6rem;
}

.pdf-card {
	border-radius: 5px;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;
  cursor: pointer;
  border: 3px dotted #E5E6F1;
	transition: all 0.6s;
	margin: 7px;
	width: 150px;
	box-sizing: border-box;
}


.icon-wrapper, .project-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper {
  font-size: 100px;
  color: red;
  transform: translateY(0px);
  transition: all 0.6s;
}

.icon-wrapper {
  align-self: end;
}

.project-name {
  align-self: start;
}

.project-name p {
  /* font-size: 24px; */
  font-weight: bold;
  /* letter-spacing: 2px; */
  /* color: #E5E6F1; */
  transform: translateY(0px);
	transition: all 0.5s;
	text-align: center;
}

.pdf-card:hover {
  border: 3px solid #E5E6F1;
}
.pdf-card:hover .project-name p {
  transform: translateY(-10px);
}
.pdf-card:hover .icon-wrapper {
  transform: translateY(5px);
}
